## Python 4 - Mini Assignment Oscar Cerino

### 1. Suppose you have the following pandas Series that includes a missing value.

In [144]:
import pandas as pd
data = pd.Series([74,63,None, 72, 68], 
                 name='Height', 
                 index=['Bob','Toni','Ervin','Toby','Min'])
data

Bob      74.0
Toni     63.0
Ervin     NaN
Toby     72.0
Min      68.0
Name: Height, dtype: float64

In [145]:
# View the name of the Series
print(data.name)

Height

In [146]:
# View the index of the Series
print(data.index)

Index(['Bob', 'Toni', 'Ervin', 'Toby', 'Min'], dtype='object')

In [147]:
# View the index of the 3rd person
print(data.index[2])

Ervin

In [148]:
# View the value of the 4th person
print(data.index[3])

Toby

In [149]:
# View the nonmissing values only
print(data.dropna())

Bob     74.0
Toni    63.0
Toby    72.0
Min     68.0
Name: Height, dtype: float64

In [150]:
# Find the average height of this family
print(data.mean())

69.25

### 2. We have data in the file IceCreamData.csv (from last class Mini Assignment) about our customers.

In [151]:
# Read in the data
import pandas as pd
df_IC = pd.read_csv('IceCreamData.csv') 
df_IC

    Customer      Type     Flavor  Age  Sales    Store
0          1     Adult  Chocolate   45   4.25  Greeley
1          2     Child    Vanilla    5   2.90  Greeley
2          3  Teenager  Chocolate   14   3.10   Parker
3          4     Adult    Vanilla   23   3.25   Denver
4          5     Adult  Chocolate   47   4.10   Denver
5          6  Teenager  Chocolate   16   4.10  Greeley
6          7     Adult  Chocolate   41   3.50   Parker
7          8     Child    Vanilla    4   3.00  Greeley
8          9  Teenager  Chocolate   17   4.00   Parker
9         10     Child    Vanilla    6   2.50  Greeley
10        11     Child  Chocolate    6   3.75   Parker
11        12  Teenager    Vanilla   11   3.00   Denver
12        13  Teenager    Vanilla   15    NaN   Parker
13        14     Adult    Vanilla   72   3.75   Denver
14        15     Adult    Vanilla   28   3.25   Denver
15        16     Adult  Chocolate   45   4.25   Denver
16        17     Child    Vanilla    5   2.90   Denver
17        18  Teenager  Chocolate   14   3.15   Parker
18        19     Adult    Vanilla   36   4.00   Denver
19        20     Adult  Chocolate   47   4.30   Denver
20        21     Adult  Chocolate   57   4.10   Parker
21        22     Adult  Chocolate   34   3.75   Parker
22        23  Teenager  Chocolate   16   4.10   Denver
23        24     Adult  Chocolate   41   3.75   Denver
24        25     Child    Vanilla    4    NaN   Parker
25        26  Teenager  Chocolate   17   4.00   Parker
26        27     Child    Vanilla    6   2.50  Greeley
27        28     Child  Chocolate    6   3.75   Parker
28        29  Teenager    Vanilla   15   3.00   Parker
29        30     Child  Chocolate    6   3.75   Denver
30        31  Teenager    Vanilla   15   3.00   Parker
31        32  Teenager    Vanilla   15   2.90   Parker
32        33     Adult    Vanilla   60   4.00  Greeley
33        34     Adult    Vanilla   28   3.25   Denver
34        35     Adult  Chocolate   40   4.25  Greeley
35        36     Child    Vanilla    5   2.90   Parker
36        37  Teenager  Chocolate   14   3.15   Parker

In [152]:
# View the types of the columns/variables
print(df_IC.dtypes)

Customer      int64
Type         object
Flavor       object
Age           int64
Sales       float64
Store        object
dtype: object

In [153]:
# The Customer column is actually an ID. We don't want to perform any numeric analysis on this column. 
# Change the type of the Customer column to be an object
df_IC['Customer'] = df_IC['Customer'].astype(object)
df_IC.dtypes

Customer     object
Type         object
Flavor       object
Age           int64
Sales       float64
Store        object
dtype: object

In [154]:
# View only the .head() of the Age column
df_IC['Age'].head()

0    45
1     5
2    14
3    23
4    47
Name: Age, dtype: int64

In [155]:
# View only the .head() of the Type column
df_IC['Type'].head()

0       Adult
1       Child
2    Teenager
3       Adult
4       Adult
Name: Type, dtype: object

In [156]:
# View only the .tail() of the Age and Type column (at the same time)
df_IC[['Type', 'Age']].tail()

        Type  Age
32     Adult   60
33     Adult   28
34     Adult   40
35     Child    5
36  Teenager   14

In [157]:
# View only the .head() of the table filtering for just the Adults
df_IC[df_IC['Type']=='Adult'].head()

   Customer   Type     Flavor  Age  Sales    Store
0         1  Adult  Chocolate   45   4.25  Greeley
3         4  Adult    Vanilla   23   3.25   Denver
4         5  Adult  Chocolate   47   4.10   Denver
6         7  Adult  Chocolate   41   3.50   Parker
13       14  Adult    Vanilla   72   3.75   Denver

In [158]:
# View only the .head() of the Age and Type column filtered to only show Adults
df_IC.loc[df_IC["Type"]=="Adult", ['Type',"Age"]].head()

     Type  Age
0   Adult   45
3   Adult   23
4   Adult   47
6   Adult   41
13  Adult   72

In [159]:
# Find the mean of the Age column. 
df_IC.Age.mean()

23.675675675675677

In [160]:
# Find the mean of the Ages of Adults
df_IC[df_IC['Type']=="Adult"].Age.mean()

42.93333333333333

In [161]:
# Find the counts of Adults, Teenagers, and Children
print(df_IC[df_IC['Type']=="Adult"].count())
print(df_IC[df_IC['Type']=="Teenager"].count())
print(df_IC[df_IC['Type']=="Child"].count())

Customer    15
Type        15
Flavor      15
Age         15
Sales       15
Store       15
dtype: int64
Customer    12
Type        12
Flavor      12
Age         12
Sales       11
Store       12
dtype: int64
Customer    10
Type        10
Flavor      10
Age         10
Sales        9
Store       10
dtype: int64

In [162]:
# Find the descriptive summary statistics for the quantitative variables (use .describe())
df_IC.describe()

             Age      Sales
count  37.000000  35.000000
mean   23.675676   3.520000
std    18.452723   0.546674
min     4.000000   2.500000
25%     6.000000   3.000000
50%    16.000000   3.750000
75%    40.000000   4.000000
max    72.000000   4.300000

In [163]:
# Find the descriptive summary statistics for the qualitative variables (skip Customer) (use .describe())
df_IC[["Type", "Flavor", "Store"]].describe()

         Type     Flavor   Store
count      37         37      37
unique      3          2       3
top     Adult  Chocolate  Parker
freq       15         19      16

### 3. Create more customized summaries of our Ice Cream customer data

In [164]:
# Print a sentence that includes the label of Age and also formats the mean Age with 2 decimals (for example, The Age mean is: XX.XX)
print(f"The Age mean is: {df_IC.Age.mean():.2f}")

The Age mean is: 23.68

In [165]:
# Output the unique values in the Type column
df_IC.Type.unique()

array(['Adult', 'Child', 'Teenager'], dtype=object)

In [166]:
# Loop through the list of unique values of Type and put them in a single string 
# so that you can print a sentence that lists the unique values from the column Type. 
# (for example, The Types are: Adult Child Teenager)
types = ""
for i in df_IC.Type.unique():
    types = types + i + " "
print(f"The Types are: {types}")

The Types are: Adult Child Teenager

In [167]:
# What are the values and counts for the Type column?
df_IC.Type.value_counts()

Adult       15
Teenager    12
Child       10
Name: Type, dtype: int64

In [168]:
# What is the count of the 2nd item in the value counts output?
print(df_IC.Type.value_counts()[1])

12

In [169]:
# What is the index name of the 2nd item in the value counts output?
print(df_IC.Type.value_counts().index[1])

Teenager

In [170]:
# Loop through the value counts of Type and put them in a single string
# so that you can print a sentence that lists the index name and counts from the column Type
# (for example, The Type counts are:  Adult: 15 Teenager: 12 Child: 10)
types = ""
for i in df_IC.Type.unique():
    types = types + i + ": "+ str(df_IC.Type.value_counts()[i])+ " "
print(f"The Types are: {types}")

The Types are: Adult: 15 Child: 10 Teenager: 12

## 4. Create a function that inputs a column of numbers from a DataFrame and outputs a nicely formatted sentence with the mean.
(for example, if you call: create_mean(df_IC['Age']) it will return: The mean of the entered data is: XX.XX)

#### BONUS: Can you use the .name function to get the name of the column (really name of a Series) to put in the sentence?
(for example, if you call: create_mean(df_IC['Age']) it will return: The mean of the Age is: XX.XX)

In [171]:
def create_mean(DataFrame):
    name= DataFrame.name
    mean= DataFrame.mean()
    return(f"The mean of the {name} is: {mean}")

create_mean(df_IC.Age)

'The mean of the Age is: 23.675675675675677'

## 5. Create a function that inputs a column of qualitative data from a DataFrame and outputs a nicely formatted sentence with the index name and counts from that column
(for example, if you call: create_value_counts(df_IC['Type']) it will return: The entered data counts are Adult: 15 Teenager: 12 Child: 10)

### BONUS: Can you use the .name function to get the name of the column (really name of a Series) to put in the sentence?
(for example, if you call: create_value_counts(df_IC['Type']) it will return: The Type counts are: Adult: 15 Teenager: 12 Child: 10)

In [172]:
def create_value_counts(DataFrame):
    types = ""
    name = DataFrame.name
    for i in DataFrame.unique():
        types = types + i + ": "+ str(DataFrame.value_counts()[i])+ " "
    return(f"The {name} counts are: {types}")

create_value_counts(df_IC.Type)

'The Type counts are: Adult: 15 Child: 10 Teenager: 12 '