PYTHON 8 - Mini Assignment - Oscar Cerino

In [12]:
# Add needed imports
from statsmodels.formula.api import ols
import numpy as np
import pandas as pd
import StatTests

In [2]:
#1 Write DataFrames to a csv and an Excel file
# Read in the PY8IceCreamData file Sheet StoreData and store in a DataFrame. View the head.
df_SD = pd.read_excel(r'PY8IceCreamData.xlsx',sheet_name='StoreData')
df_SD.head()

       Store  Fri   Sat  Sun
0     Parker  560   573  580
1     Denver  820   940  913
2  Littleton  591   740  650
3     Aurora  914  1062  910
4       Erie  450   476  398

In [3]:
# Read in the PY8IceCreamData file Sheet IceCreamData and store in a DataFrame. View the head.
df_IC = pd.read_excel(r'PY8IceCreamData.xlsx',sheet_name='IceCreamData')
df_IC.head()

       Type     Flavor  Age  PurchLast6  Sales
0     Adult  Chocolate   45          15   4.25
1     Child    Vanilla    5           7   2.90
2  Teenager  Chocolate   14          12   3.10
3     Adult    Vanilla   23          11   3.25
4     Adult  Chocolate   47          14   4.10

In [5]:
# Write only the columns Type, Age, and Sales from the IceCreamData sheet to a csv file. 
# Do not include the index
df_CSV = df_IC[["Type","Age","Sales"]]
df_CSV.to_csv(r'IceCreamData.csv')

In [6]:
# Write only the columns Type, Age, and Sales from the IceCreamData sheet to an Excel file. 
# Do not include the index
df_CSV = df_IC[["Type","Age","Sales"]]
df_CSV.to_excel(r'IceCreamData.xlsx')

In [7]:
#2 Use xlwings to perform the following steps
# Open the PY8IceCreamData.xlsx workbook 
import xlwings as xw
xw.apps.add()
wb1 = xw.Book(r'PY8IceCreamData.xlsx')

In [8]:
#Create a sheet object to reference IceCreamData
sht_IC = wb1.sheets['IceCreamData']

In [9]:
#Add a New sheet and create an object for it. Name the sheet 'Summary Data'
sht_new = wb1.sheets.add()
sht_new.name = 'SummaryData'

In [10]:
# Create the column headers as shown
sht_new.range('A1').value = 'Age'
sht_new.range('B1').value = 'PurchLast6'
sht_new.range('C1').value = 'Sales'

In [14]:
# Add averages for each column
sht_new.range('A2').value = round(np.array(sht_IC.range('C2:C38').value).mean(),2)
sht_new.range('B2').value = round(np.array(sht_IC.range('D2:D38').value).mean(),2)
sht_new.range('C2').value = round(np.array(sht_IC.range('E2:E38').value).mean(),2)

In [ ]:
# Create a new DataFrame that has the values from the Type column in the IceCreamData sheet
df_type = df_IC["Type"]
df_type

In [ ]:
# Create a Series of value counts from this new column of data in the DataFrame
df_type.value_counts()

In [ ]:
# Create a Series called flavor_cnts with index values Chocolate, Vanilla initialized with 0s

In [ ]:
# Print just the Chocolate value from the Series

In [ ]:
# Print the first Flavor value from the IceCreamData sheet (should be 'Chocolate')
# using the range((r,c)).value syntax

In [ ]:
# Use a Loop to go through each value in the IceCreamData sheet column Flavor and create
# counts of vanilla and chocolate that you store in the Series. Note the end result should
# look like the following

In [ ]:
# Overwrite the workbook with a new name PY8MiniAssignSummary.xlsx