In [32]:
from google.colab import drive
# Read more here: https://colab.research.google.com/notebooks/io.ipynb#scrollTo=D78AM1fFt2ty
drive.mount(google_drive_mount_location)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
google_drive_root='/NBAProject'

In [34]:
google_drive_mount_location = '/content/drive'
google_file_prefix=google_drive_mount_location + '/My Drive/' + google_drive_root + '/'

In [35]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [36]:
df_2020 = pd.read_csv(google_file_prefix+'2020-21NBAAddvancedStats.csv', header=[1])
df_2020.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,Unnamed: 17,eFG%,TOV%,ORB%,FT/FGA,Unnamed: 22,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 27,Arena,Attend.,Attend./G
0,11.0,Atlanta Hawks*,25.4,41.0,31.0,41.0,31.0,2.32,-0.18,2.14,115.7,113.3,2.4,97.6,0.278,0.382,0.581,NaN,0.539,11.9,24.4,0.226,NaN,0.530,11.1,77.8,0.190,NaN,State Farm Arena,"59,288","1,647"
1,13.0,Boston Celtics*,25.1,36.0,36.0,39.0,33.0,1.46,-0.14,1.32,114.0,112.5,1.5,98.3,0.234,0.409,0.574,NaN,0.543,12.5,24.3,0.181,NaN,0.539,12.8,78.1,0.215,NaN,TD Garden,"30,067",835
2,7.0,Brooklyn Nets*,28.2,48.0,24.0,46.0,26.0,4.50,-0.27,4.24,118.3,113.8,4.5,99.5,0.258,0.413,0.610,NaN,0.575,12.2,21.4,0.208,NaN,0.531,11.1,77.3,0.187,NaN,Barclays Center,"30,491",847
3,23.0,Charlotte Hornets,24.6,33.0,39.0,32.0,40.0,-1.93,-0.01,-1.94,110.9,112.8,-1.9,98.3,0.238,0.422,0.564,NaN,0.532,13.3,23.5,0.181,NaN,0.550,13.2,75.7,0.163,NaN,Spectrum Center,"68,255","1,896"
4,20.0,Chicago Bulls,25.6,31.0,41.0,34.0,38.0,-0.89,-0.05,-0.94,111.1,112.0,-0.9,99.0,0.197,0.383,0.575,NaN,0.547,13.6,22.3,0.156,NaN,0.538,11.6,80.3,0.196,NaN,United Center,"13,655",379

In [37]:
df_2020_clean = df_2020[['Rk', 'Team', 'Age', 'W', 'L', 'PW', 'PL', 'MOV', 'SOS', 'SRS', 'ORtg', 'DRtg', 'NRtg', 'Pace', 'FTr', '3PAr', 'TS%',  'eFG%', 'TOV%', 'ORB%', 'FT/FGA',  'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1']]
df_2020_clean.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
0,11.0,Atlanta Hawks*,25.4,41.0,31.0,41.0,31.0,2.32,-0.18,2.14,115.7,113.3,2.4,97.6,0.278,0.382,0.581,0.539,11.9,24.4,0.226,0.530,11.1,77.8,0.190
1,13.0,Boston Celtics*,25.1,36.0,36.0,39.0,33.0,1.46,-0.14,1.32,114.0,112.5,1.5,98.3,0.234,0.409,0.574,0.543,12.5,24.3,0.181,0.539,12.8,78.1,0.215
2,7.0,Brooklyn Nets*,28.2,48.0,24.0,46.0,26.0,4.50,-0.27,4.24,118.3,113.8,4.5,99.5,0.258,0.413,0.610,0.575,12.2,21.4,0.208,0.531,11.1,77.3,0.187
3,23.0,Charlotte Hornets,24.6,33.0,39.0,32.0,40.0,-1.93,-0.01,-1.94,110.9,112.8,-1.9,98.3,0.238,0.422,0.564,0.532,13.3,23.5,0.181,0.550,13.2,75.7,0.163
4,20.0,Chicago Bulls,25.6,31.0,41.0,34.0,38.0,-0.89,-0.05,-0.94,111.1,112.0,-0.9,99.0,0.197,0.383,0.575,0.547,13.6,22.3,0.156,0.538,11.6,80.3,0.196

In [38]:
df_2021 = pd.read_csv(google_file_prefix+'2021-22NBAAddvancedStats.csv', header=[1])
df_2021.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,Unnamed: 17,eFG%,TOV%,ORB%,FT/FGA,Unnamed: 22,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 27,Arena,Attend.,Attend./G
0,14,Atlanta Hawks*,26.1,43,39,45,37,1.56,-0.01,1.55,116.5,114.9,1.6,97.7,0.253,0.390,0.581,NaN,0.543,10.8,23.0,0.205,NaN,0.543,11.5,76.9,0.177,NaN,State Farm Arena,"672,742","16,408"
1,1,Boston Celtics*,26.1,51,31,59,23,7.28,-0.26,7.02,114.4,106.9,7.5,96.6,0.239,0.425,0.578,NaN,0.542,12.4,24.0,0.195,NaN,0.502,12.5,77.3,0.183,NaN,TD Garden,"727,928","17,754"
2,15,Brooklyn Nets*,29.1,44,38,43,39,0.78,0.04,0.82,113.6,112.8,0.8,99.0,0.246,0.359,0.576,NaN,0.540,12.5,23.9,0.198,NaN,0.521,11.7,75.1,0.201,NaN,Barclays Center,"711,539","17,355"
3,16,Charlotte Hornets,25.5,43,39,42,40,0.44,0.09,0.53,114.1,113.7,0.4,100.0,0.234,0.418,0.572,NaN,0.544,11.6,23.3,0.173,NaN,0.544,13.1,74.8,0.187,NaN,Spectrum Center,"700,755","17,092"
4,20,Chicago Bulls*,26.3,46,36,40,42,-0.39,0.02,-0.38,113.2,113.6,-0.4,98.3,0.248,0.332,0.579,NaN,0.541,11.8,20.4,0.201,NaN,0.541,11.9,78.3,0.199,NaN,United Center,"856,148","20,882"

In [39]:
df_2021_clean = df_2021[['Rk', 'Team', 'Age', 'W', 'L', 'PW', 'PL', 'MOV', 'SOS', 'SRS', 'ORtg', 'DRtg', 'NRtg', 'Pace', 'FTr', '3PAr', 'TS%',  'eFG%', 'TOV%', 'ORB%', 'FT/FGA',  'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1']]
df_2021_clean.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
0,14,Atlanta Hawks*,26.1,43,39,45,37,1.56,-0.01,1.55,116.5,114.9,1.6,97.7,0.253,0.390,0.581,0.543,10.8,23.0,0.205,0.543,11.5,76.9,0.177
1,1,Boston Celtics*,26.1,51,31,59,23,7.28,-0.26,7.02,114.4,106.9,7.5,96.6,0.239,0.425,0.578,0.542,12.4,24.0,0.195,0.502,12.5,77.3,0.183
2,15,Brooklyn Nets*,29.1,44,38,43,39,0.78,0.04,0.82,113.6,112.8,0.8,99.0,0.246,0.359,0.576,0.540,12.5,23.9,0.198,0.521,11.7,75.1,0.201
3,16,Charlotte Hornets,25.5,43,39,42,40,0.44,0.09,0.53,114.1,113.7,0.4,100.0,0.234,0.418,0.572,0.544,11.6,23.3,0.173,0.544,13.1,74.8,0.187
4,20,Chicago Bulls*,26.3,46,36,40,42,-0.39,0.02,-0.38,113.2,113.6,-0.4,98.3,0.248,0.332,0.579,0.541,11.8,20.4,0.201,0.541,11.9,78.3,0.199

In [40]:
df_2022 = pd.read_csv(google_file_prefix+'2022-23NBAAddvancedStats.csv', header=[1])
df_2022.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,Unnamed: 17,eFG%,TOV%,ORB%,FT/FGA,Unnamed: 22,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 27,Arena,Attend.,Attend./G
0,17.0,Atlanta Hawks,25.5,4.0,3.0,3.0,4.0,-0.86,-2.30,-3.16,115.0,115.8,-0.8,100.9,0.236,0.313,0.575,NaN,0.538,11.1,22.4,0.194,NaN,0.525,11.5,72.2,0.250,NaN,State Farm Arena,"53,083","17,694"
1,10.0,Boston Celtics,27.6,4.0,2.0,3.0,3.0,2.17,2.87,5.04,118.2,116.0,2.2,97.0,0.265,0.477,0.616,NaN,0.575,12.7,19.1,0.226,NaN,0.532,10.8,74.9,0.212,NaN,TD Garden,"57,468","19,156"
2,27.0,Brooklyn Nets,28.8,2.0,5.0,2.0,5.0,-6.43,2.75,-3.68,113.2,119.6,-6.4,99.1,0.310,0.382,0.587,NaN,0.543,12.6,21.3,0.250,NaN,0.556,13.4,70.2,0.224,NaN,Barclays Center,"87,276","17,455"
3,13.0,Charlotte Hornets,26.2,3.0,4.0,4.0,3.0,1.29,-0.42,0.86,112.3,111.1,1.2,101.1,0.255,0.334,0.565,NaN,0.536,12.5,24.4,0.184,NaN,0.512,12.1,74.8,0.222,NaN,Spectrum Center,"50,386","16,795"
4,15.0,Chicago Bulls,28.0,3.0,4.0,3.0,4.0,-0.43,2.67,2.24,111.7,112.2,-0.5,100.9,0.319,0.330,0.568,NaN,0.513,12.7,24.6,0.269,NaN,0.564,15.9,79.9,0.201,NaN,United Center,"76,078","19,020"

In [41]:
df_2022_clean = df_2022[['Rk', 'Team', 'Age', 'W', 'L', 'PW', 'PL', 'MOV', 'SOS', 'SRS', 'ORtg', 'DRtg', 'NRtg', 'Pace', 'FTr', '3PAr', 'TS%',  'eFG%', 'TOV%', 'ORB%', 'FT/FGA',  'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1']]
df_2022_clean.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
0,17.0,Atlanta Hawks,25.5,4.0,3.0,3.0,4.0,-0.86,-2.30,-3.16,115.0,115.8,-0.8,100.9,0.236,0.313,0.575,0.538,11.1,22.4,0.194,0.525,11.5,72.2,0.250
1,10.0,Boston Celtics,27.6,4.0,2.0,3.0,3.0,2.17,2.87,5.04,118.2,116.0,2.2,97.0,0.265,0.477,0.616,0.575,12.7,19.1,0.226,0.532,10.8,74.9,0.212
2,27.0,Brooklyn Nets,28.8,2.0,5.0,2.0,5.0,-6.43,2.75,-3.68,113.2,119.6,-6.4,99.1,0.310,0.382,0.587,0.543,12.6,21.3,0.250,0.556,13.4,70.2,0.224
3,13.0,Charlotte Hornets,26.2,3.0,4.0,4.0,3.0,1.29,-0.42,0.86,112.3,111.1,1.2,101.1,0.255,0.334,0.565,0.536,12.5,24.4,0.184,0.512,12.1,74.8,0.222
4,15.0,Chicago Bulls,28.0,3.0,4.0,3.0,4.0,-0.43,2.67,2.24,111.7,112.2,-0.5,100.9,0.319,0.330,0.568,0.513,12.7,24.6,0.269,0.564,15.9,79.9,0.201

In [42]:
df_2020_clean.describe()

,Rk,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,15.500000,26.093333,36.000000,36.000000,36.066667,35.933333,0.000333,-0.001333,0.000333,112.353333,112.330000,0.023333,99.180000,0.246867,0.391867,0.571800,0.537933,12.360000,22.193333,0.191967,0.537967,12.363333,77.796667,0.192067
std,8.803408,1.531718,10.013784,10.013784,10.332184,10.332184,4.942107,0.210316,4.752875,4.000408,2.376632,4.959191,1.955258,0.022802,0.042835,0.018794,0.019522,0.998136,1.843522,0.015747,0.012689,0.977500,1.364446,0.018204
min,1.000000,22.800000,17.000000,20.000000,15.000000,17.000000,-10.640000,-0.320000,-10.130000,103.500000,107.100000,-10.500000,95.900000,0.197000,0.314000,0.527000,0.490000,9.900000,17.900000,0.156000,0.507000,10.300000,74.900000,0.157000
25%,8.250000,25.175000,31.000000,30.000000,32.000000,30.250000,-1.905000,-0.147500,-1.917500,110.675000,111.225000,-1.875000,97.675000,0.235000,0.357750,0.559250,0.525000,11.900000,21.125000,0.181000,0.531000,11.525000,76.950000,0.183250
50%,15.500000,26.250000,37.000000,35.000000,37.000000,35.000000,0.530000,-0.020000,0.505000,112.000000,112.500000,0.500000,98.800000,0.242000,0.388500,0.574500,0.539500,12.250000,22.100000,0.189500,0.539000,12.450000,77.850000,0.195500
75%,22.750000,27.000000,42.000000,41.000000,41.750000,40.000000,2.672500,0.097500,2.642500,115.625000,113.800000,2.700000,100.325000,0.257000,0.419750,0.581750,0.549750,13.075000,23.450000,0.198250,0.546750,13.075000,78.575000,0.200750
max,30.000000,28.800000,52.000000,55.000000,55.000000,57.000000,9.250000,0.510000,8.970000,118.300000,117.200000,9.300000,104.100000,0.293000,0.488000,0.610000,0.575000,14.200000,26.300000,0.226000,0.557000,14.400000,80.300000,0.234000

In [43]:
df_2021_clean.describe()

,Rk,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,15.500000,26.120000,41.000000,41.000000,41.133333,40.866667,-0.001333,-0.000333,-0.000667,111.973333,111.950000,0.023333,98.223333,0.248467,0.399633,0.566167,0.531733,12.343333,23.213333,0.192433,0.531700,12.343333,76.753333,0.192300
std,8.803408,1.883211,11.566897,11.566897,12.016464,12.016464,4.864989,0.218261,4.674069,3.170438,2.734801,4.905850,1.632363,0.017683,0.036605,0.016223,0.016528,0.827828,2.378312,0.014452,0.014179,0.874419,1.368042,0.016946
min,1.000000,22.400000,20.000000,18.000000,20.000000,23.000000,-8.880000,-0.560000,-8.550000,104.500000,106.900000,-9.100000,95.400000,0.220000,0.332000,0.530000,0.494000,10.800000,19.800000,0.166000,0.502000,10.700000,74.400000,0.164000
25%,8.250000,24.725000,33.250000,31.500000,32.250000,33.250000,-3.297500,-0.130000,-3.192500,110.325000,110.200000,-3.300000,97.025000,0.236000,0.375250,0.556250,0.522750,11.725000,21.400000,0.180250,0.521000,11.725000,75.650000,0.178500
50%,15.500000,26.000000,43.500000,38.500000,42.500000,39.500000,0.610000,0.005000,0.675000,112.700000,112.200000,0.600000,98.300000,0.248500,0.393000,0.569500,0.535500,12.500000,23.000000,0.194500,0.532500,12.150000,76.900000,0.195000
75%,22.750000,27.500000,50.500000,48.750000,48.750000,49.750000,3.132500,0.150000,2.982500,114.250000,113.675000,3.150000,99.800000,0.258500,0.424250,0.578750,0.542750,12.775000,24.000000,0.201750,0.541000,13.000000,78.000000,0.201000
max,30.000000,30.200000,64.000000,62.000000,59.000000,62.000000,7.500000,0.370000,7.020000,116.700000,116.900000,7.500000,100.900000,0.284000,0.468000,0.590000,0.556000,14.500000,30.000000,0.232000,0.559000,14.400000,78.800000,0.227000

In [44]:
df_2022_clean.describe()

,Rk,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.00000,30.000000,30.000000,30.000000,30.000000
mean,15.500000,26.446667,3.400000,3.400000,3.333333,3.466667,0.301667,-0.003333,0.299000,112.840000,112.513333,0.326667,99.646667,0.271800,0.385967,0.569767,0.532833,12.660000,24.466667,0.21060,0.531467,12.690000,75.616667,0.209900
std,8.803408,2.051532,1.354431,1.631585,0.994236,1.332183,5.543873,2.110616,6.118362,4.560898,4.098674,5.539945,2.384828,0.034922,0.041385,0.024389,0.024743,1.172854,3.325900,0.03007,0.022820,1.337097,3.276361,0.028235
min,1.000000,22.600000,1.000000,0.000000,2.000000,1.000000,-8.750000,-3.550000,-9.470000,101.100000,104.100000,-8.700000,95.500000,0.224000,0.313000,0.515000,0.477000,10.000000,16.600000,0.16600,0.480000,10.200000,68.200000,0.147000
25%,8.250000,25.325000,3.000000,2.250000,3.000000,3.000000,-3.182500,-2.102500,-3.665000,110.900000,109.900000,-3.050000,97.900000,0.245750,0.367750,0.554500,0.516750,12.150000,22.025000,0.18850,0.514500,12.025000,73.375000,0.197000
50%,15.500000,26.200000,3.000000,3.000000,3.000000,3.500000,-0.500000,-0.070000,-0.040000,113.300000,112.050000,-0.550000,100.350000,0.263000,0.380000,0.568000,0.537000,12.600000,24.750000,0.20150,0.532000,12.700000,75.600000,0.210000
75%,22.750000,28.150000,4.000000,4.000000,4.000000,4.000000,2.917500,2.020000,4.375000,115.300000,115.700000,3.075000,101.100000,0.289000,0.405000,0.587000,0.552250,13.375000,27.150000,0.22475,0.550500,13.325000,77.850000,0.227000
max,30.000000,30.200000,6.000000,7.000000,5.000000,6.000000,12.330000,2.870000,14.180000,120.400000,119.600000,12.500000,104.100000,0.377000,0.477000,0.616000,0.575000,15.600000,30.000000,0.28300,0.568000,15.900000,81.700000,0.268000

In [45]:
df_2020_win_loss_per_team = pd.read_csv(google_file_prefix+'2020-21NBATeamStandings.csv', header=[0])
df_2020_win_loss_per_team.head()

,Rk,Team,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,1,Atlanta Hawks,NaN,2-1,1-2,3-0,1-2,1-2,0-2,1-1,2-1,2-0,2-0,1-2,1-1,1-1,1-1,2-1,1-2,2-0,2-0,0-3,1-1,3-0,1-2,1-1,1-1,1-1,1-1,3-0,0-2,3-0
1,2,Boston Celtics,1-2,NaN,0-3,1-2,2-1,1-2,0-2,2-0,1-2,2-0,2-0,2-1,2-0,1-1,1-1,1-2,2-1,2-0,0-2,1-2,1-1,3-0,0-3,1-1,1-1,0-2,1-1,3-0,0-2,2-1
2,3,Brooklyn Nets,2-1,3-0,NaN,2-1,2-1,1-2,0-2,2-0,2-1,2-0,2-0,3-0,2-0,1-1,0-2,2-1,1-2,2-0,2-0,3-0,1-1,2-1,1-2,2-0,1-1,2-0,2-0,1-2,1-1,1-2
3,4,Chicago Bulls,0-3,2-1,1-2,NaN,3-0,1-2,2-0,0-2,3-0,0-2,2-0,2-1,0-2,0-2,0-2,1-2,1-2,1-1,2-0,1-2,1-1,1-2,0-3,0-2,1-1,1-1,0-2,3-0,0-2,2-1
4,5,Charlotte Hornets,2-1,1-2,1-2,0-3,NaN,1-2,1-1,0-2,3-0,1-1,2-0,2-1,0-2,0-2,0-2,2-1,2-1,2-0,1-1,1-2,1-1,2-1,0-3,1-1,1-1,2-0,1-1,1-2,0-2,2-1

In [46]:
df_2021_win_loss_per_team = pd.read_csv(google_file_prefix+'2021-22NBATeamStandings.csv', header=[0])
df_2021_win_loss_per_team.head()

,Rk,Team,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,1,Atlanta Hawks,NaN,2-2,1-2,1-3,2-2,3-1,1-1,0-2,1-2,1-1,1-1,4-0,1-1,1-1,2-0,1-3,2-1,2-0,1-1,1-3,2-0,3-1,1-2,1-1,1-1,2-0,1-1,1-3,0-2,3-1
1,2,Boston Celtics,2-2,NaN,3-1,2-1,3-1,2-1,0-2,2-0,3-1,1-1,2-0,3-1,0-2,1-1,2-0,2-1,2-2,1-1,2-0,2-2,2-0,3-0,2-2,1-1,1-1,2-0,0-2,2-2,1-1,2-2
2,3,Brooklyn Nets,2-1,1-3,NaN,1-2,1-2,3-1,1-1,0-2,4-0,0-2,1-1,3-0,1-1,1-1,0-2,1-3,1-3,1-1,2-0,4-0,1-1,3-1,3-1,0-2,1-1,1-1,2-0,2-2,1-1,2-2
3,4,Chicago Bulls,3-1,1-2,2-1,NaN,2-1,3-1,1-1,2-0,4-0,0-2,1-1,3-1,2-0,2-0,0-2,0-4,0-4,2-0,1-1,2-2,2-0,3-1,0-4,0-2,1-1,1-1,1-1,3-1,1-1,3-0
4,5,Charlotte Hornets,2-2,1-3,2-1,1-2,NaN,2-2,1-1,1-1,2-1,1-1,1-1,4-0,0-2,1-1,1-1,0-4,2-2,1-1,2-0,3-1,2-0,3-1,1-3,0-2,1-1,1-1,2-0,1-2,1-1,3-1

In [47]:
df_2022_win_loss_per_team = pd.read_csv(google_file_prefix+'2022-23NBATeamStandings.csv', header=[0])
df_2022_win_loss_per_team.head()

,Rk,Team,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,1,Atlanta Hawks,NaN,0-0,0-0,0-0,0-1,0-0,0-0,0-0,2-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-1,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-1,0-0,0-0
1,2,Boston Celtics,0-0,NaN,0-0,0-1,0-0,0-1,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,1-0,1-0,0-0,0-0,0-0,0-0,0-0,0-0,1-0
2,3,Brooklyn Nets,0-0,0-0,NaN,0-1,0-0,0-0,0-1,0-0,0-0,0-0,0-0,1-1,0-0,0-0,0-1,0-0,0-1,0-0,0-1,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,1-0,0-0,0-0
3,4,Chicago Bulls,0-0,1-0,1-0,NaN,0-0,0-1,0-0,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-0,0-1,0-0,0-0,0-0,0-1,0-0,0-0,0-1
4,5,Charlotte Hornets,1-0,0-0,0-0,0-0,NaN,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-1,0-1,0-0,0-1,0-0,0-0,0-0,0-1,1-0,0-0,0-0,0-0

In [48]:
df_2020_win_loss_per_team_clean = df_2020_win_loss_per_team[['ATL', 'BOS', 'BRK', 'CHI', 'CHO', 'CLE', 'DAL', 'DEN','DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN','NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHO', 'POR', 'SAC', 'SAS', 'TOR','UTA', 'WAS']]
df_2020_win_loss_per_team_clean.head()

,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,NaN,2-1,1-2,3-0,1-2,1-2,0-2,1-1,2-1,2-0,2-0,1-2,1-1,1-1,1-1,2-1,1-2,2-0,2-0,0-3,1-1,3-0,1-2,1-1,1-1,1-1,1-1,3-0,0-2,3-0
1,1-2,NaN,0-3,1-2,2-1,1-2,0-2,2-0,1-2,2-0,2-0,2-1,2-0,1-1,1-1,1-2,2-1,2-0,0-2,1-2,1-1,3-0,0-3,1-1,1-1,0-2,1-1,3-0,0-2,2-1
2,2-1,3-0,NaN,2-1,2-1,1-2,0-2,2-0,2-1,2-0,2-0,3-0,2-0,1-1,0-2,2-1,1-2,2-0,2-0,3-0,1-1,2-1,1-2,2-0,1-1,2-0,2-0,1-2,1-1,1-2
3,0-3,2-1,1-2,NaN,3-0,1-2,2-0,0-2,3-0,0-2,2-0,2-1,0-2,0-2,0-2,1-2,1-2,1-1,2-0,1-2,1-1,1-2,0-3,0-2,1-1,1-1,0-2,3-0,0-2,2-1
4,2-1,1-2,1-2,0-3,NaN,1-2,1-1,0-2,3-0,1-1,2-0,2-1,0-2,0-2,0-2,2-1,2-1,2-0,1-1,1-2,1-1,2-1,0-3,1-1,1-1,2-0,1-1,1-2,0-2,2-1

In [49]:
df_2021_win_loss_per_team_clean = df_2021_win_loss_per_team[['ATL', 'BOS', 'BRK', 'CHI', 'CHO', 'CLE', 'DAL', 'DEN','DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN','NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHO', 'POR', 'SAC', 'SAS', 'TOR','UTA', 'WAS']]
df_2021_win_loss_per_team_clean.head()

,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,NaN,2-2,1-2,1-3,2-2,3-1,1-1,0-2,1-2,1-1,1-1,4-0,1-1,1-1,2-0,1-3,2-1,2-0,1-1,1-3,2-0,3-1,1-2,1-1,1-1,2-0,1-1,1-3,0-2,3-1
1,2-2,NaN,3-1,2-1,3-1,2-1,0-2,2-0,3-1,1-1,2-0,3-1,0-2,1-1,2-0,2-1,2-2,1-1,2-0,2-2,2-0,3-0,2-2,1-1,1-1,2-0,0-2,2-2,1-1,2-2
2,2-1,1-3,NaN,1-2,1-2,3-1,1-1,0-2,4-0,0-2,1-1,3-0,1-1,1-1,0-2,1-3,1-3,1-1,2-0,4-0,1-1,3-1,3-1,0-2,1-1,1-1,2-0,2-2,1-1,2-2
3,3-1,1-2,2-1,NaN,2-1,3-1,1-1,2-0,4-0,0-2,1-1,3-1,2-0,2-0,0-2,0-4,0-4,2-0,1-1,2-2,2-0,3-1,0-4,0-2,1-1,1-1,1-1,3-1,1-1,3-0
4,2-2,1-3,2-1,1-2,NaN,2-2,1-1,1-1,2-1,1-1,1-1,4-0,0-2,1-1,1-1,0-4,2-2,1-1,2-0,3-1,2-0,3-1,1-3,0-2,1-1,1-1,2-0,1-2,1-1,3-1

In [50]:
df_2022_win_loss_per_team_clean = df_2022_win_loss_per_team[['ATL', 'BOS', 'BRK', 'CHI', 'CHO', 'CLE', 'DAL', 'DEN','DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN','NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHO', 'POR', 'SAC', 'SAS', 'TOR','UTA', 'WAS']]
df_2022_win_loss_per_team_clean.head()

,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,NaN,0-0,0-0,0-0,0-1,0-0,0-0,0-0,2-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-1,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-1,0-0,0-0
1,0-0,NaN,0-0,0-1,0-0,0-1,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,1-0,1-0,0-0,0-0,0-0,0-0,0-0,0-0,1-0
2,0-0,0-0,NaN,0-1,0-0,0-0,0-1,0-0,0-0,0-0,0-0,1-1,0-0,0-0,0-1,0-0,0-1,0-0,0-1,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,1-0,0-0,0-0
3,0-0,1-0,1-0,NaN,0-0,0-1,0-0,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-0,0-1,0-0,0-0,0-0,0-1,0-0,0-0,0-1
4,1-0,0-0,0-0,0-0,NaN,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-1,0-1,0-0,0-1,0-0,0-0,0-0,0-1,1-0,0-0,0-0,0-0

In [51]:
df_2020_complete_stats = pd.concat([df_2020_clean,df_2020_win_loss_per_team_clean],axis=1)
df_2020_complete_stats.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,11.0,Atlanta Hawks*,25.4,41.0,31.0,41.0,31.0,2.32,-0.18,2.14,115.7,113.3,2.4,97.6,0.278,0.382,0.581,0.539,11.9,24.4,0.226,0.530,11.1,77.8,0.190,NaN,2-1,1-2,3-0,1-2,1-2,0-2,1-1,2-1,2-0,2-0,1-2,1-1,1-1,1-1,2-1,1-2,2-0,2-0,0-3,1-1,3-0,1-2,1-1,1-1,1-1,1-1,3-0,0-2,3-0
1,13.0,Boston Celtics*,25.1,36.0,36.0,39.0,33.0,1.46,-0.14,1.32,114.0,112.5,1.5,98.3,0.234,0.409,0.574,0.543,12.5,24.3,0.181,0.539,12.8,78.1,0.215,1-2,NaN,0-3,1-2,2-1,1-2,0-2,2-0,1-2,2-0,2-0,2-1,2-0,1-1,1-1,1-2,2-1,2-0,0-2,1-2,1-1,3-0,0-3,1-1,1-1,0-2,1-1,3-0,0-2,2-1
2,7.0,Brooklyn Nets*,28.2,48.0,24.0,46.0,26.0,4.50,-0.27,4.24,118.3,113.8,4.5,99.5,0.258,0.413,0.610,0.575,12.2,21.4,0.208,0.531,11.1,77.3,0.187,2-1,3-0,NaN,2-1,2-1,1-2,0-2,2-0,2-1,2-0,2-0,3-0,2-0,1-1,0-2,2-1,1-2,2-0,2-0,3-0,1-1,2-1,1-2,2-0,1-1,2-0,2-0,1-2,1-1,1-2
3,23.0,Charlotte Hornets,24.6,33.0,39.0,32.0,40.0,-1.93,-0.01,-1.94,110.9,112.8,-1.9,98.3,0.238,0.422,0.564,0.532,13.3,23.5,0.181,0.550,13.2,75.7,0.163,0-3,2-1,1-2,NaN,3-0,1-2,2-0,0-2,3-0,0-2,2-0,2-1,0-2,0-2,0-2,1-2,1-2,1-1,2-0,1-2,1-1,1-2,0-3,0-2,1-1,1-1,0-2,3-0,0-2,2-1
4,20.0,Chicago Bulls,25.6,31.0,41.0,34.0,38.0,-0.89,-0.05,-0.94,111.1,112.0,-0.9,99.0,0.197,0.383,0.575,0.547,13.6,22.3,0.156,0.538,11.6,80.3,0.196,2-1,1-2,1-2,0-3,NaN,1-2,1-1,0-2,3-0,1-1,2-0,2-1,0-2,0-2,0-2,2-1,2-1,2-0,1-1,1-2,1-1,2-1,0-3,1-1,1-1,2-0,1-1,1-2,0-2,2-1

In [52]:
df_2021_complete_stats = pd.concat([df_2021_clean,df_2021_win_loss_per_team_clean],axis=1)
df_2021_complete_stats.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,14,Atlanta Hawks*,26.1,43,39,45,37,1.56,-0.01,1.55,116.5,114.9,1.6,97.7,0.253,0.390,0.581,0.543,10.8,23.0,0.205,0.543,11.5,76.9,0.177,NaN,2-2,1-2,1-3,2-2,3-1,1-1,0-2,1-2,1-1,1-1,4-0,1-1,1-1,2-0,1-3,2-1,2-0,1-1,1-3,2-0,3-1,1-2,1-1,1-1,2-0,1-1,1-3,0-2,3-1
1,1,Boston Celtics*,26.1,51,31,59,23,7.28,-0.26,7.02,114.4,106.9,7.5,96.6,0.239,0.425,0.578,0.542,12.4,24.0,0.195,0.502,12.5,77.3,0.183,2-2,NaN,3-1,2-1,3-1,2-1,0-2,2-0,3-1,1-1,2-0,3-1,0-2,1-1,2-0,2-1,2-2,1-1,2-0,2-2,2-0,3-0,2-2,1-1,1-1,2-0,0-2,2-2,1-1,2-2
2,15,Brooklyn Nets*,29.1,44,38,43,39,0.78,0.04,0.82,113.6,112.8,0.8,99.0,0.246,0.359,0.576,0.540,12.5,23.9,0.198,0.521,11.7,75.1,0.201,2-1,1-3,NaN,1-2,1-2,3-1,1-1,0-2,4-0,0-2,1-1,3-0,1-1,1-1,0-2,1-3,1-3,1-1,2-0,4-0,1-1,3-1,3-1,0-2,1-1,1-1,2-0,2-2,1-1,2-2
3,16,Charlotte Hornets,25.5,43,39,42,40,0.44,0.09,0.53,114.1,113.7,0.4,100.0,0.234,0.418,0.572,0.544,11.6,23.3,0.173,0.544,13.1,74.8,0.187,3-1,1-2,2-1,NaN,2-1,3-1,1-1,2-0,4-0,0-2,1-1,3-1,2-0,2-0,0-2,0-4,0-4,2-0,1-1,2-2,2-0,3-1,0-4,0-2,1-1,1-1,1-1,3-1,1-1,3-0
4,20,Chicago Bulls*,26.3,46,36,40,42,-0.39,0.02,-0.38,113.2,113.6,-0.4,98.3,0.248,0.332,0.579,0.541,11.8,20.4,0.201,0.541,11.9,78.3,0.199,2-2,1-3,2-1,1-2,NaN,2-2,1-1,1-1,2-1,1-1,1-1,4-0,0-2,1-1,1-1,0-4,2-2,1-1,2-0,3-1,2-0,3-1,1-3,0-2,1-1,1-1,2-0,1-2,1-1,3-1

In [53]:
df_2022_complete_stats = pd.concat([df_2022_clean,df_2022_win_loss_per_team_clean],axis=1)
df_2022_complete_stats.head()

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,17.0,Atlanta Hawks,25.5,4.0,3.0,3.0,4.0,-0.86,-2.30,-3.16,115.0,115.8,-0.8,100.9,0.236,0.313,0.575,0.538,11.1,22.4,0.194,0.525,11.5,72.2,0.250,NaN,0-0,0-0,0-0,0-1,0-0,0-0,0-0,2-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-1,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-1,0-0,0-0
1,10.0,Boston Celtics,27.6,4.0,2.0,3.0,3.0,2.17,2.87,5.04,118.2,116.0,2.2,97.0,0.265,0.477,0.616,0.575,12.7,19.1,0.226,0.532,10.8,74.9,0.212,0-0,NaN,0-0,0-1,0-0,0-1,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,1-0,1-0,0-0,0-0,0-0,0-0,0-0,0-0,1-0
2,27.0,Brooklyn Nets,28.8,2.0,5.0,2.0,5.0,-6.43,2.75,-3.68,113.2,119.6,-6.4,99.1,0.310,0.382,0.587,0.543,12.6,21.3,0.250,0.556,13.4,70.2,0.224,0-0,0-0,NaN,0-1,0-0,0-0,0-1,0-0,0-0,0-0,0-0,1-1,0-0,0-0,0-1,0-0,0-1,0-0,0-1,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,1-0,0-0,0-0
3,13.0,Charlotte Hornets,26.2,3.0,4.0,4.0,3.0,1.29,-0.42,0.86,112.3,111.1,1.2,101.1,0.255,0.334,0.565,0.536,12.5,24.4,0.184,0.512,12.1,74.8,0.222,0-0,1-0,1-0,NaN,0-0,0-1,0-0,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-0,0-1,0-0,0-0,0-0,0-1,0-0,0-0,0-1
4,15.0,Chicago Bulls,28.0,3.0,4.0,3.0,4.0,-0.43,2.67,2.24,111.7,112.2,-0.5,100.9,0.319,0.330,0.568,0.513,12.7,24.6,0.269,0.564,15.9,79.9,0.201,1-0,0-0,0-0,0-0,NaN,0-0,0-0,0-0,0-0,1-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-0,0-1,0-1,0-0,0-1,0-0,0-0,0-0,0-1,1-0,0-0,0-0,0-0

In [54]:
df_2020_complete_stats.describe()

,Rk,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,15.500000,26.093333,36.000000,36.000000,36.066667,35.933333,0.000333,-0.001333,0.000333,112.353333,112.330000,0.023333,99.180000,0.246867,0.391867,0.571800,0.537933,12.360000,22.193333,0.191967,0.537967,12.363333,77.796667,0.192067
std,8.803408,1.531718,10.013784,10.013784,10.332184,10.332184,4.942107,0.210316,4.752875,4.000408,2.376632,4.959191,1.955258,0.022802,0.042835,0.018794,0.019522,0.998136,1.843522,0.015747,0.012689,0.977500,1.364446,0.018204
min,1.000000,22.800000,17.000000,20.000000,15.000000,17.000000,-10.640000,-0.320000,-10.130000,103.500000,107.100000,-10.500000,95.900000,0.197000,0.314000,0.527000,0.490000,9.900000,17.900000,0.156000,0.507000,10.300000,74.900000,0.157000
25%,8.250000,25.175000,31.000000,30.000000,32.000000,30.250000,-1.905000,-0.147500,-1.917500,110.675000,111.225000,-1.875000,97.675000,0.235000,0.357750,0.559250,0.525000,11.900000,21.125000,0.181000,0.531000,11.525000,76.950000,0.183250
50%,15.500000,26.250000,37.000000,35.000000,37.000000,35.000000,0.530000,-0.020000,0.505000,112.000000,112.500000,0.500000,98.800000,0.242000,0.388500,0.574500,0.539500,12.250000,22.100000,0.189500,0.539000,12.450000,77.850000,0.195500
75%,22.750000,27.000000,42.000000,41.000000,41.750000,40.000000,2.672500,0.097500,2.642500,115.625000,113.800000,2.700000,100.325000,0.257000,0.419750,0.581750,0.549750,13.075000,23.450000,0.198250,0.546750,13.075000,78.575000,0.200750
max,30.000000,28.800000,52.000000,55.000000,55.000000,57.000000,9.250000,0.510000,8.970000,118.300000,117.200000,9.300000,104.100000,0.293000,0.488000,0.610000,0.575000,14.200000,26.300000,0.226000,0.557000,14.400000,80.300000,0.234000

In [55]:
df_2021_complete_stats.describe()

,Rk,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,15.500000,26.120000,41.000000,41.000000,41.133333,40.866667,-0.001333,-0.000333,-0.000667,111.973333,111.950000,0.023333,98.223333,0.248467,0.399633,0.566167,0.531733,12.343333,23.213333,0.192433,0.531700,12.343333,76.753333,0.192300
std,8.803408,1.883211,11.566897,11.566897,12.016464,12.016464,4.864989,0.218261,4.674069,3.170438,2.734801,4.905850,1.632363,0.017683,0.036605,0.016223,0.016528,0.827828,2.378312,0.014452,0.014179,0.874419,1.368042,0.016946
min,1.000000,22.400000,20.000000,18.000000,20.000000,23.000000,-8.880000,-0.560000,-8.550000,104.500000,106.900000,-9.100000,95.400000,0.220000,0.332000,0.530000,0.494000,10.800000,19.800000,0.166000,0.502000,10.700000,74.400000,0.164000
25%,8.250000,24.725000,33.250000,31.500000,32.250000,33.250000,-3.297500,-0.130000,-3.192500,110.325000,110.200000,-3.300000,97.025000,0.236000,0.375250,0.556250,0.522750,11.725000,21.400000,0.180250,0.521000,11.725000,75.650000,0.178500
50%,15.500000,26.000000,43.500000,38.500000,42.500000,39.500000,0.610000,0.005000,0.675000,112.700000,112.200000,0.600000,98.300000,0.248500,0.393000,0.569500,0.535500,12.500000,23.000000,0.194500,0.532500,12.150000,76.900000,0.195000
75%,22.750000,27.500000,50.500000,48.750000,48.750000,49.750000,3.132500,0.150000,2.982500,114.250000,113.675000,3.150000,99.800000,0.258500,0.424250,0.578750,0.542750,12.775000,24.000000,0.201750,0.541000,13.000000,78.000000,0.201000
max,30.000000,30.200000,64.000000,62.000000,59.000000,62.000000,7.500000,0.370000,7.020000,116.700000,116.900000,7.500000,100.900000,0.284000,0.468000,0.590000,0.556000,14.500000,30.000000,0.232000,0.559000,14.400000,78.800000,0.227000

In [56]:
df_2022_complete_stats.describe()

,Rk,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,DRtg,NRtg,Pace,FTr,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.00000,30.000000,30.000000,30.000000,30.000000
mean,15.500000,26.446667,3.400000,3.400000,3.333333,3.466667,0.301667,-0.003333,0.299000,112.840000,112.513333,0.326667,99.646667,0.271800,0.385967,0.569767,0.532833,12.660000,24.466667,0.21060,0.531467,12.690000,75.616667,0.209900
std,8.803408,2.051532,1.354431,1.631585,0.994236,1.332183,5.543873,2.110616,6.118362,4.560898,4.098674,5.539945,2.384828,0.034922,0.041385,0.024389,0.024743,1.172854,3.325900,0.03007,0.022820,1.337097,3.276361,0.028235
min,1.000000,22.600000,1.000000,0.000000,2.000000,1.000000,-8.750000,-3.550000,-9.470000,101.100000,104.100000,-8.700000,95.500000,0.224000,0.313000,0.515000,0.477000,10.000000,16.600000,0.16600,0.480000,10.200000,68.200000,0.147000
25%,8.250000,25.325000,3.000000,2.250000,3.000000,3.000000,-3.182500,-2.102500,-3.665000,110.900000,109.900000,-3.050000,97.900000,0.245750,0.367750,0.554500,0.516750,12.150000,22.025000,0.18850,0.514500,12.025000,73.375000,0.197000
50%,15.500000,26.200000,3.000000,3.000000,3.000000,3.500000,-0.500000,-0.070000,-0.040000,113.300000,112.050000,-0.550000,100.350000,0.263000,0.380000,0.568000,0.537000,12.600000,24.750000,0.20150,0.532000,12.700000,75.600000,0.210000
75%,22.750000,28.150000,4.000000,4.000000,4.000000,4.000000,2.917500,2.020000,4.375000,115.300000,115.700000,3.075000,101.100000,0.289000,0.405000,0.587000,0.552250,13.375000,27.150000,0.22475,0.550500,13.325000,77.850000,0.227000
max,30.000000,30.200000,6.000000,7.000000,5.000000,6.000000,12.330000,2.870000,14.180000,120.400000,119.600000,12.500000,104.100000,0.377000,0.477000,0.616000,0.575000,15.600000,30.000000,0.28300,0.568000,15.900000,81.700000,0.268000